alias git-root='cd "$(git rev-parse --show-cdup)"'

# Some version control stuff that doesn't work great as aliases.
alias git-root='cd "$(git rev-parse --show-cdup)"'
alias hg-responsible='hg blame -u . | grep -v '\'': binary file'\'' | cut -d : -f 1 | sed '\''s/^ *//'\'' | sort | uniq -c | sort -r | awk '\''{lines[NR] = $0; names[NR] = $NF; sum += $0; } END {for (x = 1; x <= NR; x++) printf "\t%5.2f%%\t%7d\t%s\n", 100 * lines[x] / sum, lines[x], names[x] }'\'''

# Unified diff.
alias udiff='diff -u -U 8 -p'
# Randomize lines in a file.
alias randlines="perl -MList::Util -e 'print List::Util::shuffle <>'"

# Change DNS settings easily on Mac.
alias setdns='networksetup -setdnsservers Wi-Fi'
alias resetdns='networksetup -setdnsservers Wi-Fi empty'
alias getdns='networksetup -getdnsservers Wi-Fi'
alias getip='curl https://whatismyaddress.herokuapp.com/'
alias randommac='sudo spoof randomize en0'
alias resetmac='sudo spoof reset en0'

# Find listening ports.
alias uports='sudo lsof -n -i udp -P'
alias tports='sudo lsof -n -i tcp -P -sTCP:LISTEN'

# Fun.
alias moon='curl http://wttr.in/Moon'
alias weather='curl http://wttr.in'
