# Because I'm used to using Windows / MATLAB.
alias clc='clear'
alias cls='clear'

alias git-root='cd "$(git rev-parse --show-cdup)"'

alias colordiff='perl /bin/colordiff.pl'

unamestr=`uname`
if [[ "$unamestr" == "Darwin" ]]; then
    alias firefox=/Applications/Firefox.app/Contents/MacOS/firefox-bin
    alias komodo="open -a '/Applications/Komodo IDE 8.app'"
    alias instantbird=/Applications/Instantbird.app/Contents/MacOS/instantbird-bin
    alias rdp="open -a '/Applications/Microsoft Remote Desktop.app'"
elif [[ "$unamestr" == "MINGW32_NT-6.2" ]]; then
    alias firefox="/c/Program\ Files/Mozilla/Nightly/firefox.exe"
    alias komodo="/c/Program\ Files\ \(x86\)/ActiveState\ Komodo\ IDE\ 8/komodo.exe"
    alias instantbird="/c/Program Files (x86)/Instantbird/instantbird.exe"
fi

# Some version control stuff that doesn't work great as aliases.
alias git-root='cd "$(git rev-parse --show-cdup)"'
alias hg-responsible='hg blame -u . | grep -v '\'': binary file'\'' | cut -d : -f 1 | sed '\''s/^ *//'\'' | sort | uniq -c | sort -r | awk '\''{lines[NR] = $0; names[NR] = $NF; sum += $0; } END {for (x = 1; x <= NR; x++) printf "\t%5.2f%%\t%7d\t%s\n", 100 * lines[x] / sum, lines[x], names[x] }'\'''

# Unified diff.
alias udiff='diff -u -U 8 -p'

# Mozilla stuff.
alias pymake='python -OO mozilla/build/pymake/make.py'
alias mozmake='MOZCONFIG=$(pwd)/.mozconfig make'
alias mozpymake='MOZCONFIG=$(pwd)/.mozconfig pymake'
alias mozconfig='export MOZCONFIG=$(pwd)/.mozconfig'
alias mozconfigure='MOZCONFIG=$(pwd)/.mozconfig configure'
alias xpcshell='mozilla/dist/bin/xpcshell.exe'

# First check for mozilla/mach, then use mach.
mach() {
    if [ -f mozilla/mach ]; then
        ./mozilla/mach "$@"
    else
        ./mach "$@"
    fi
}
