LESS=-FRX;
export LESS

# PATH=$PATH:$MSYS_MOZBUILD/llvm/bin:$MSYS_MOZBUILD/clang/bin
export PATH=$(brew --prefix)/opt/python@2/libexec/bin:$(brew --prefix)/opt/curl/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/X11/bin:$HOME/.cargo/bin:$HOME/.local/bin:$PATH:$PATH

# For building Python modules to work on Windows.
export VS90COMNTOOLS=/c/Program\ Files\ \(x86\)/Microsoft\ Visual\ Studio\ 10.0/Common7/Tools/

# CLI Colors
export CLICOLOR=1

unamestr=`uname`
if [[ "$unamestr" == "MINGW32_NT-6.1" ]]; then
    # Needed on Windows.
    export GIT_SSH=/c/Program\ Files\ \(x86\)/PuTTY/plink.exe
fi

# History Control
export HISTCONTROL=ignoredups
export HISTCONTROL=ignoreboth
export HISTTIMEFORMAT='%Y-%m-%d %H:%M:%S '
export HISTFILESIZE=2000
export HISTIGNORE="[ ]*:&:bg:fg:exit" # Ignore some controlling instructions
export PROMPT_COMMAND="history -a"
